{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":446.03125,"scrollleft":0,"selection":{"start":{"row":1,"column":6},"end":{"row":1,"column":6},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":28,"state":"start","mode":"ace/mode/text"}},"timestamp":1562896984805,"hash":"6d5db23448c36ff126bd0eaca36abc5a9e5580ba"}