{%extends 'layout.html'%}
{%block title%}Home{%endblock%}
{%block heading%}Full-Stack Practice App{%endblock%}
{%block content%}
<div class="row d-flex">
  <div class="col-sm-6">
    <p>This app is developed within AWS Cloud 9 Ubuntu environment</p>
  </div>
</div>
<div class="row d-flex">
  <div class="col-sm-6">
    <p>Languages and technologies used include:</p>
    <ul>
      <li>HTML, CSS</li>
      <li>Javascript</li>
      <li>Python</li>
      <li>Flask and Jinja2</li>
      <li>PostgreSQL</li>
      <li>Heroku deployment</li>
    </ul>
  </div>
</div>
{%endblock%}